@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
    font-family: 'Lato', sans-serif;
}



.container img {
    max-width: 60%;
    max-height: 60%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #ff86a9;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: #ffb6c1;
    border-radius: 9px;
}

#googleSignInDiv {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#googleSignInDiv>div {
    margin: 0 10px;
}

#googleSignInDiv>div>button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#googleSignInDiv>div>button:hover {
    background-color: #f0f0f0;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img {
    margin: 0px 30px;
    width: 24px;
    height: 24px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.input input::placeholder,
.input-label {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.or-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.divider {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.or-text {
    margin: 0 10px;
    color: #797979;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.forgot-password {
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span {
    color: #ffb6c1;
    cursor: pointer;
}

.not-match {
    color: red;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #ffb6c1;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s ease; /* Smooth transition */

}
.submit:hover {
    background: #fc6d96; /* Change this to your desired hover color */
}

.gray {
    background: #EAEAEAEA;
    color: #676767;
}